<!-- wp:group {"className":"accordion","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion"><!-- wp:group {"className":"accordion-item","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-item"><!-- wp:heading {"className":"accordion-header"} -->
<h2 class="accordion-header">Header 1</h2>
<!-- /wp:heading -->

<!-- wp:group {"className":"accordion-body","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-body"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"accordion-item","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-item"><!-- wp:heading {"className":"accordion-header"} -->
<h2 class="accordion-header">Header 2</h2>
<!-- /wp:heading -->

<!-- wp:group {"className":"accordion-body","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-body"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"accordion-item","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-item"><!-- wp:heading {"className":"accordion-header"} -->
<h2 class="accordion-header">Header 3</h2>
<!-- /wp:heading -->

<!-- wp:group {"className":"accordion-body","layout":{"type":"constrained"}} -->
<div class="wp-block-group accordion-body"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->