<!-- wp:list -->
<ul class="bars"><!-- wp:list-item {"className":"bar-1"} -->
    <h2>Bar 1</h2>
    <div class="bars-background">
        <li class="bar-1">75%</li>
    </div>

<!-- /wp:list-item -->

<!-- wp:list-item {"className":"bar-2"} -->
<h2>Bar 2</h2>
<div class="bars-background">
    <li class="bar-2">60%</li>
</div>

<!-- /wp:list-item -->

<!-- wp:list-item {"className":"bar-3"} -->
<h2>Bar 3</h2>
<div class="bars-background">
    <li class="bar-3">80%</li>
</div>

<!-- /wp:list-item -->

<!-- wp:list-item {"className":"bar-4"} -->
<h2>Bar 4</h2>
<div class="bars-background">
    <li class="bar-4">30%</li>
</div>

<!-- /wp:list-item --></ul>
<!-- /wp:list -->